.jfx-text-field {
	/*-jfx-unfocus-color: transparent;
	-jfx-focus-color: transparent;*/
	-jfx-unfocus-color: #000000;
	-jfx-focus-color: #000000;
}

.text-field {
	-fx-text-fill: #000000;
	-fx-font-weight: normal;
	-fx-alignment: center;
	-fx-highlight-fill: null;
	-fx-highlight-text-fill: null;
	-fx-padding: 10;
	-fx-display-caret: false;
}

#original {
	-fx-text-fill: #9d0006;
	-fx-font-weight: bold;
}

#title {
	-fx-font-size: 30pt;
	-fx-alignment: center;
}

#info {
	-fx-font-size: 20pt;
	-fx-alignment: center;
}

.jfx-button {
	-fx-alignment: center;
	-jfx-button-type: FLAT;
}

#solve {
	-fx-background-color: #009688;
}

#clear {
	-fx-background-color: #f44336;
}
.root {
	-fx-alignment: center;
}

.h-box {
	-fx-alignment: center;
	-fx-font-size: 15pt;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 10;
}

.jfx-progress-bar > .bar {
    -fx-background-color: red;
}

.jfx-progress-bar > .track {
    -fx-background-color: blue;
}